
$grid-gutter-width: 10px;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

$font-stack: helvetica, sans-serif;


li {
  list-style: none;
}
.wrapper {
  background-image: url("../skateboard-images/bg.jpg");
}

img {
  position: relative;
  display: block;;
  width: 100%;
  padding: 0;
  z-index: 5;

}
.layer2 {
    display: inline-block;
    position: absolute;
    width: 40%;
    z-index: 15;
    top: 54px;
    left: 40px;

}
.layer1 {
  display: block;
  position: absolute;
  z-index: 10;
  top: 0;
  opacity: .5;
  height: 423px;
}
 .container .jumbotron, .container-fluid .jumbotron {
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 0;
    height: 360px;
    overflow: hidden;
  }
.jumbotron {
    padding-top: 5px;
    padding-bottom: 5px;
}
.post {
  background-color: white;
  padding: 5px;
  height: 425px;
}
